<appSettings>
  <add key="FacebookAppId" value="1688047431512489"/>
  <add key="FacebookAppSecret" value="5ed890e70ba11d31db2ebff378730890"/>

  <add key="webpages:Version" value="3.0.0.0" />
  <add key="webpages:Enabled" value="false" />
  <add key="ClientValidationEnabled" value="true" />
  <add key="UnobtrusiveJavaScriptEnabled" value="true" />
</appSettings>
